.slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 800px;
  height: 60%;
  border-radius: 8px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  transition: background-color 0.3s ease;
  position: relative;
}

.slide-text {
  font-size: 32px; 
  color: #000;
  text-align: center;
  font-weight: bold;
  margin: 16px 0; 
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px; 
}

.left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn-slide {
  background-color: #007BFF;
  color: #fff;
  padding: 12px 24px;
  font-size: 24px; 
  border: none;
  border-radius: 55px;
  cursor: pointer;
  margin-top: 16px; 
}

.btn-slide:hover {
  background-color: #007bff92;

}
.right-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-circle {
  width: 300px;
  height: 300px;
  background: linear-gradient(45deg, #3abfc3, #ccbd61);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo-circle img {
  max-width: 100%;
  max-height: 100%;
}

.navigation {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  width: 120%;
  justify-content: space-between;
  padding: 0 10px;
}

.nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 32px; 
  margin: 0;
  padding: 0;
}

.prev{
  color: #d8d8d8;
}

.next{
  color: #d8d8d8;
}

.prev:hover{
  color: #000;
}

.next:hover{
  color: #000;
}


@media screen and (max-width: 768px) {
  .slide {
    width: 95%;
  }

  .slide-text {
    font-size: 24px;
    text-align: center;
  }

  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navigation {
    width: 100%;
  }

  .btn-slide-slide {
    font-size: 20px;
    margin-top: 10px; 
    margin-top: 15px;

  }

  .logo-circle {
    width: 200px;
    height: 200px;
    margin-top: 35px;
  }
}