.slide-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    text-align: center;
  }
  
  .slide.active-slide {
    opacity: 1;
  }
  
  .img-slide {
    max-width: 100%;
    max-height: 400px; /* Ajuste a altura máxima da imagem conforme necessário */
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .slide-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .btn-slide {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .slide-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  .slide-nav:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }